/* X-Small devices (portrait phones, less than 576px)
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root{
    --side-padding: 10vw;
    --general-padding: 0px var(--side-padding);
    --general-widht:calc(100vw - calc(var(--side-padding) * 2));
    /* Colors */
    --black:rgba(13, 13, 13, 1);
    --grey1:rgba(64, 64, 64, 1);
    --grey2:rgba(115, 115, 115, 1);
    --grey3:rgba(191, 191, 191, 1);
    --white:rgba(242, 242, 242, 1);


}

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--white);
}

h2,p{
    flex-basis: 100%;
}

body{
    background-color: var(--black);
}

.withBorder{
    padding: 0px 1rem;
    margin-top: 0.5rem;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--grey1);
}

/* header */
header{
    width: 100vw;
    height: 3rem;
    position: fixed;
    top: 0px;
    background-color: var(--black);
}

.menuButton{
    width: 1rem;
    height: 1rem;
    border-bottom: 2px solid var(--grey1);
    border-right: 2px solid var(--grey1);
    transform: rotate(45deg);
    margin: 0px auto;
    margin-top: .5rem;
}

.menuButton:focus + nav{
    top: 0px;
}

nav{
    box-sizing: border-box;
    position: fixed;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    font-size: 1.4rem;
    transition: all 600ms;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    display: list-item;
    color: var(--black);
    line-height: 2.3rem;
    text-align: center;
    
}

.resume{
    padding: 0px 1rem;
    margin-top: 0.5rem;
    color: var(--white);
    background-color: var(--black);
}


/*  */

main{
    width: var(--general-widht);
    padding: var(--general-padding);
}

section{
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    align-content: center;
}

/* Home */
.francoReyes{
    flex-basis: 100%;
}
.francoReyes h1{
    display:inline;
    background-color: aliceblue;
    color:var(--black);
    box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px;
}
/*  */



/* No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up)
*/
@media (min-width: 1400px) {
    
}
