/* X-Small devices (portrait phones, less than 576px)
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root{
    --side-padding: 10vw;
    --general-padding: 0px var(--side-padding);
    --general-widht:calc(100vw - calc(var(--side-padding) * 2));
    --header-height:2rem;
}

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
}

img{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    width: var(--general-widht);
    padding: var(--general-padding);
    margin-top: var(--header-height);
}

header{
    position: fixed;
    height: var(--header-height);
    background-color: red;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(-100vh);
    width: 100vw;
    height: 80vh;
    transition: all 500ms;
}

header nav div{
    display: flex;
    flex-direction: column;
}

header > div:focus + nav {
    transform: translateY(-32px);
    background-color:red;
}



/* No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up)
*/
@media (min-width: 1400px) {
    
}